/* ................................................................. */
/* ................................................................. */
/* LOGIN COMPONENT STYLE START HERE */
/* ................................................................. */
/* ................................................................. */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f58df;
    margin: 0px auto;
}

/* .RegisterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1f58df;
    
} */

.RegisterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px auto ;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    left: 0;
    right: 0;
    top: 0;
   /* position: fixed; */
    /* overflow: auto; */
    /* height: 560px; */
    /* border: 1px solid red; */
}
.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px auto;
    /* background-color: #fff; */
    border-radius: 20px;
    padding: 20px;
    width: 280px;
    /* height: 560px; */
}
.formcONTAINER {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headerRegister {
    color: #1f58df;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid #df7c1f4f;
    border-radius: 100px;
    margin-bottom: 20px;
    background-color: transparent;
}

.login {
    padding: 10px 90px;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #f99f1b;
    margin-bottom: 10px;
    cursor: pointer;
}

.form-control {
    /* min-width: 100px; */
    width: 170px; 
    height: 36px;
    border: 1px solid #cccccc74;
    border-left: none;
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.input-group-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    height: 20px;
    background-color: #7d797914;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

/* ...........media query start here........... */
@media (min-width: 0px) and (max-width: 320px) {
    body {
         display: flex;
        justify-content: center;
        align-items: center;
      
        margin:0
    }
    .containerRegister {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 90%; */
        margin:  auto ;
        /* padding: 20px; */
        background-color: #1f58df;
       
    }
    .bodyContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    .RegisterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin: 50px auto; */
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    min-width: 220px;
    height: 500px;
    /* height: 560px; */
   
    }
    .imgContainer {
        width: 70px;
        height: 70px;
       margin-top: -20px;
       margin-bottom: -8px;
    }
    .alreadyHaveAccount {
        margin-top: -40px;
    }
    .login { 
        margin-top: -5px;
    }
    .form-control {
        /* min-width: 100px; */
        width: 140px; 
        height: 36px;
        border: 1px solid #cccccc74;
        border-left: none;
        text-align: center;
    
    }
    
    .input-group {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    
    .input-group-label {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 10px;
        width: 100px;
        height: 20px;
        background-color: #7d797914;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    
    }
    #selectButton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
       width: 145px;
       border: 1px solid rgba(128, 128, 128, 0.143);
     
        /* border: 1px solid red; */
    }
}

@media (min-width: 324px) and (max-width: 412px) {
    body {
        margin:0
    }

    /* .containerLogin {
        height: 100vh;
        
    }  */
    .imgContainer {
        width: 100px;
        height: 100px;
    }
    .forgetPass {
        margin-bottom: 10px;
    }
    .login { 
        margin: 5px;
    }
    .bodyContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    .RegisterContainer {
        width: 300px;
        /* margin: 50px auto; */
        /* position: fixed; */
    }
    .imgContainer {
        width: 80px;
        min-height: 80px;
        margin-top: -10px;
    }
    .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    /* background-color: #fff; */
    border-radius: 20px;
    padding: 20px;
    height: 480px;
    /* height: 560px; */
}
#selectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
   width: 175px;
   border: 1px solid rgba(128, 128, 128, 0.143);
   /* border: 1px solid red; */
    /* border: 1px solid red; */
}
}


@media (min-width: 412px) and (max-width: 768px) {
    body {
        margin: 0px auto
    }
    .containerLogin {
        height: 80vh;
        
    }
    .imgContainer {
        width: 100px;
        height: 100px;
    }
    .forgetPass {
        margin-bottom: 10px;
    }
    .login { 
        margin-top: 5px;
    }
    .RegisterContainer {
        width: 320px;
    }
    .imgContainer {
        width: 80px;
        min-height: 80px;
    }
    .bodyContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px auto;
    /* background-color: #fff; */
    border-radius: 20px;
    padding: 20px;

    height: 400px;
    /* height: 560px; */
    }
    .alreadyHaveAccount {
        margin-top: -30px;
    }
    /* body {
        background-color: #1f58df;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin:0;
        box-sizing: border-box;
        overflow: hidden;
    }
    .containerfORM {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .imgContainer {
        width: 100px;
        height: 100px;
    }
    .forgetPass {
        margin-bottom: 10px;
    }
    .login { 
        margin-top: -5px;
    }
    .loginContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        width: 250px;
        height: 400px;
        margin-top: 150px ;
        margin-bottom: 200px;
   
    } */
    #selectButton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        width: 175px;
        border: 1px solid rgba(128, 128, 128, 0.143);
       /* border: 1px solid red; */
        /* border: 1px solid red; */
    }
}

/* .............................................. */


@media (min-width: 360px) and (max-height: 560px) {
    .bodyContainer {
        height: 80vh;
    }
    /* .......BLUE CONTAINER START..... */
    .imgContainer {
        min-width: 30px;
        min-height: 30px;
        margin-top: -30px;
        margin-bottom: 0px;
    }
    #fa-user {
        font-size: 30px;
        margin: -10px;
    }

    .bodyPage {
        height: 40vh;
        overflow: auto;
        width: 95%;
        margin-top: 15px;
        /* padding-right: 10px; */
        /* padding: 20px 0px; */
        /* padding-bottom: 50px; */
        
        overflow: auto;
    }

    .RegisterContainer {
        height: 440px;
       margin-top: -20px;
    }
    .formcONTAINER {
        /* margin-bottom: -30px ; */
        /* border: 5px solid red; */
        height: 450px;
    }
    .login {
        padding: 5px 60px;
        margin-bottom: -30px;
    }

 
    /* .......BLUE CONTAINER END..... */
  }

  /* .............STYLE FOR LABTOP DEVICES.......... */
  @media (min-width: 768px) and (max-width: 5768px) {
    body {
        margin: 0px auto
    }
    .containerLogin {
        height: 80vh;
        
    }
    .imgContainer {
        width: 100px;
        height: 100px;
    }
    .forgetPass {
        margin-bottom: 10px;
    }
    .login { 
        margin-top: 5px;
    }
    .RegisterContainer {
        width: 320px;
    }
    .imgContainer {
        width: 80px;
        min-height: 80px;
    }
    .bodyContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px auto;
    /* background-color: #fff; */
    border-radius: 20px;
    padding: 20px;

    height: 400px;
    /* height: 560px; */
    }
    .alreadyHaveAccount {
        margin-top: -30px;
    }
    /* body {
        background-color: #1f58df;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin:0;
        box-sizing: border-box;
        overflow: hidden;
    }
    .containerfORM {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .imgContainer {
        width: 100px;
        height: 100px;
    }
    .forgetPass {
        margin-bottom: 10px;
    }
    .login { 
        margin-top: -5px;
    }
    .loginContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        width: 250px;
        height: 400px;
        margin-top: 150px ;
        margin-bottom: 200px;
   
    } */
    #selectButton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        width: 175px;
        border: 1px solid rgba(128, 128, 128, 0.143);
       /* border: 1px solid red; */
        /* border: 1px solid red; */
    }
}

/* .............................................. */