.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  /* border: 5px solid red; */
  background-color: #f2f3f5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}
/* style navbar start here */

.navbar {
  width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
    /* top: 0; */
    /* position: fixed; */
    /* border: 1px solid rgb(255, 0, 72); */
    /* margin-bottom: 100px; */
    left: 5px;
    right: 5px;
    overflow: hidden;
}
.profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: aliceblue;
  margin-left: 15px;
  
}
.linkIcon {
  padding: 7px 10px;
  border-radius: 20px;
  background-color: #1f58df;
  color: #f2f3f5;
}
.userIcon {
  border:1px solid #0a0a0a;
  border-radius: 20px;
  padding: 5px;
}
.iopayIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  /* border: 1px solid red; */
}
.navLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 50px;
  /* border: 1px solid red; */
}
.title {
color: #3632bf;
font-weight: 600;
margin-right: 10px;
}
.name {
font-weight: bold;
}
.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 10px;
    height: 50px;
}

.navList{
    list-style: none;
   
}
a {
 text-decoration: none;
}

/* style navbar end here */

/* style body start here */

.homeArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5px;
    width: 97%; 
    height: 85vh;
    /* border: 1px solid blue; */
    /* z-index: 1; */
}
/* ...........BLUE COMPONENT STYLE START HERE..... */
.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #3632bf;
    /* border: 1px solid blue; */
    border-radius: 20px;
    border: none;
    color: #fff;
    width: 90%;
    height: 20vh;
    overflow: hidden;
    z-index: 1;
    padding: 6px 10px;
    /* border: 2px solid red; */
    /* margin-top: -17px; */
}
.soldContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  /* background-color: #f1f3f5; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -5px;
}
.soldeTitle {
  color: #f2f3f5;
  /* color: #1f58df; */
  /* border: 1px solid red; */
  /* margin-top: 10px; */
}
.mySold {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    /* border: 1px solid rgb(156, 156, 190); */
    padding: 0px 10px;
    margin-top: -20px;
    margin-bottom: 5px;
}
/* .soldeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: rgb(161, 179, 210);
  } */
  .fa-eye {
    color: rgb(161, 179, 210);
  }
  .solodNumber {
    color:#f99f1b;
    font-weight: 600;
    font-size: 30px;
   
  
  }
  .miseAjour {
   font-size: 12px;
   margin-top: -5px;
  }
  .cardImg {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .fa-credit-card {
    color: rgb(161, 179, 210);
  }
.myAccount {
    color: #1f58df;
    font-size: 24px;
}
.footerLabel {
  font-size: 12px;
  color: #000000ab;
}
.fa-exchange {
  color: #51cc4d;
}
.fa-money {
  color: #2a85e5;
}
.fa-history {
  color:rgb(30, 48, 80) ;
}
/* .soldContainer {
    display: flex;
    flex-direction: column;
 
    align-items: center; 
    width: 100%;
    height: 150px;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color:  #3632bf;
 
} */
.secondNavContainer {
    height: 10vh;
    /* border: 1px solid rgb(156, 156, 190); */
    /* padding: 10px; */
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left:0;
  
  }

  .aLinkHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 30px;
    gap: 10px;
    /* border: 1px solid blue; */
    /* width: 100%; */
    border-radius: 20px;
    border: none;
  }
  .footerLabel {
    font-size: 12px;
    color: #000000ab;
  }
  .fa-address-card {
    color: #f99f1b;
  }
  .fa-money {
    color: #2a85e5;
  }
  .fa-history {
    color:rgb(30, 48, 80) ;
  }
/* ............BLUE COMPONENT STYLE END HERE ...........*/

/* ............LAST 3 BILLS STYLE START HERE.............. */
/* .............BODY HISTORY TRANSACTIONS.............. */
.bodyPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border: 1px solid blue; */
    background-color: #fff;
    width: 95%;
    height: 55vh;
    margin-top: 10px;
    /* border-radius: 5px; */
    overflow: hidden;
}
.lastBill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 98%;
  height: 55vh;
  /* border: 1px solid rgb(255, 0, 47); */
} 
.headerbill {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin-bottom: 10px;
    background-color: #3632bf;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #f2f3f5;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.177); */
    /* border: 1px solid blue; */
}
.textHeadBill {
    width: 100%;
    padding-left: 10px;
}
.textHeadBill {
    font-weight: 600;
    font-size: 12px;
  }
  .seePlus {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    align-items: center;
    width: 100px;
    font-size: 12px;
    color: #f99f1b;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    gap: 2px;
  }

  .bodyBill {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-top: -10px;
  }
  .billInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    width: 100%;
    /* border: 2px solid rgb(43, 158, 152); */
    
  }
  .first {
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    width: 55%;
    padding-left: 5px;
    /* border: 5px solid rgba(128, 128, 128, 0.147); */
  }
  .recieverNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 40%; */
    height: 40px;
    padding-left: 10px;
    /* border: 5px solid rgba(128, 128, 128, 0.147); */
  }
  .type {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .infoUser {
    display: flex;
    flex-wrap: wrap;
  }
  .number {
    font-size: 12px;
  }
  .receiverName {
    cursor: pointer;
    font-size: 12px;
  }
  .moneyDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
    padding-top: 15px;
    padding-right: 5px;
    /* border: 1px solid rgba(128, 128, 128, 0.147); */
    width: 40%;
  }
  .money {
    color: #f99f1b;
  }
  .dateTransfert {
    font-size: 10px;
    color: #2779e4ac;
    margin-top: -1px;
  }
  .botton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-user-circle-o {
    color: #1f58df;
  }
  .fa-arrow-right {
    font-size: 14px;
    
  }
  .fa-money {
    color: #1f961c;
  }
  .iconForTransfert {
    margin-right: 2px;
  }
  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(128, 128, 128, 0.147); */
    border-radius: 20px;
    width: 20%;
    height: 40px;
    margin-left: -5px;
    /* gap: 2px; */
    
  }
  .botton {
    color: #1f58df;
  }

  .opencAMcONTAINER {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: transparent !important;
    /* border: 1px solid rgba(128, 128, 128, 0.147); */
  }
  .scanBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #3632bf;
    border-radius: 50%;
    padding: 5px 15px;
    background-color: transparent !important;
    cursor: pointer;
  }
  button {
    border: 5px solid gray;
  }

/* style footer end here */

/* style footer end here */

/* style footer start here */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 7vh;
    bottom: 0;
    position: fixed;
    left: 5px;
    right: 5px;
}
.footerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.footerItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: -50px ;
}
.footerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: black;
    text-decoration: none;
}
.fa-home {
    color: #f99f1b;
  }
  .iconMoney {
    color: #000;
  }
/* style footer end here */


/* ............................................ */
/* ..............MEDIA QUERY FOR SMALL DEVICES.... */

@media (min-width: 0px) and (max-width: 320px) {
  .navLink {
    margin-right: 23px;
  }
  .title {
    font-size: 12px;
  }
  .name {
    font-size: 12px;
    border: 1px solid red;
    margin-left: -5px;
  }
    /* .......BLUE CONTAINER START..... */
    .secondNavContainer {
        margin-bottom: 10px;
    }
    .soldeTitle {
      margin-top: 30px;
    }
    .solodNumber {
        color:#f99f1b;
        font-weight: 600;
        font-size: 20px;
    }
    /* .soldeTitle {
        margin-top: -5px;
        
    } */
    .aLinkHead {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        width: 110px;
        margin-top: 15px;
    }
    .bodyPage {
        /* height: 55vh; */
        /* margin-top: 20px; */
        padding: 0px 10px;
    }
    .billInfo {
        padding: 5px 0px;
    }
    .textHeadBill {
        font-size: 10px;
    }
    .moneyDetail {
        margin-right: 10px;
    }
   
    /* .......BLUE CONTAINER END..... */
}

@media (min-width: 323px) and (max-width: 359px) {
  /* .bodyContainer {
      height: 80vh;
      width: 97%;
  } */
  .head {
    width: 89%;
    height: 150px;
  }
  /* .......BLUE CONTAINER START..... */
  .solodNumber {
      color:#f99f1b;
      font-weight: 600;
      font-size: 19px;
      
  }
  /* .soldeTitle {
      margin-top: -5px;
  } */
  .aLinkHead {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 20px;
      width: 110px;
  }
  /*.bodyPage {
       height: 45vh;
      margin-top: 15px; */
      /* padding-right: 10px; */
      /* border: 2px solid red; 
  }*/
  .footer {
     
      margin-top: 10px;
     
  }
  /* .......BLUE CONTAINER END..... */
}





@media (min-width: 359px) and (max-width: 425px) {
  .title {
    color: #3632bf;
    font-size: 14px;
    font-weight: 600;
    /* width: 100px; */
    margin-right: 30px;
    /* border: 1px solid red; */
  }
  .name {
    font-size: 14px;
    /* width: 100px; */
    margin-left: -25px;
    margin-right: 20px;
    /* border: 1px solid red; */
  }
  .billInfo {
    justify-content: center;
    margin-top: 20px;
    /* border: 2px solid red; */
    margin-bottom: -20px;
  }
  .first {
    width: 40%;
    display: flex;
    /* border: 2px solid red; */
  }
  .moneyDetail {
    width:  40%;
    /* border: 2px solid red; */
  }
    .head {
      width: 90%;
      height: 150px;
    }
    /* .......BLUE CONTAINER START..... */
    .solodNumber {
        color:#f99f1b;
        font-weight: 600;
        font-size: 19px;
        
    }
    /* .soldeTitle {
        margin-top: -5px;
    } */
    .aLinkHead {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        width: 100px;
    }
    .opencAMcONTAINER {
      margin-top: 20px;
    }
   /* .bodyPage {
         height: 50vh;
        margin-top: 15px; 
        padding-right: 10px;
    }*/
    .footer {
        margin-top: 10px;
    }
    /* .......BLUE CONTAINER END..... */
}

@media (min-width: 360px) and (max-height: 570px) {
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #3632bf;
    border-radius: 20px;
    border: none;
    color: #fff;
    width: 90%;
    height: 10vh;
    overflow: hidden;
    z-index: 1;
    padding: 2px 10px;
}
.secondNavContainer {
  margin-top: 20px;
}

 .bodyPage {
  margin-top: -110px;
  margin-bottom: -50px;
 }
 .headerbill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 }
 .textHeadBill {
  width: 60%;
 }
 .seePlus {
  width: 40%;
 }

  .billInfo {
    padding: 5px 0px;
  }
  .head {
    margin-top: -50px;
  }

  .footer {
      margin-top: 10px;
  }
  /* .......BLUE CONTAINER END..... */
}

@media (min-width: 340px) and (max-width: 459px) and (max-height: 680px) {

  .head {
    width: 88.5%;
    height: 150px;
    margin-left: 2px;
    /* margin-top: -5px; */
  }
  /* .......BLUE CONTAINER START..... */
  .solodNumber {
      color:#f99f1b;
      font-weight: 600;
      font-size: 19px;
  }
  .soldeTitle {
      margin-left: 10px;
  }
  .solodNumber {
    margin: 0px 20px;
  }
  .item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .aLinkHead {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      margin-right: 10px;
      width: 80px;
  }
  .seePlus {
    width: 150px;
  }
  /*.bodyPage {
       height: 43.5vh;
      margin-top: 15px; 
      padding-right: 10px;
      padding-bottom: 10px;
      overflow: auto;
      /* border: 2px solid red; 
      
  }*/
  .transfertContainer {
    height: 45vh;
    width: 100%;
    /* padding-top: 20px; */
    margin-left: 7px;
  }
  .transterFormContainer {
    width: 100%;
  }
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 10px;
}
.labelContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #aca3be24; 
    height: 100%;
   padding-left: 4px;
    width: 40%;
}
.labelText {
    font-size: 13px;
}
.inputField {
    height: 100%;
    width: 65%;
    text-align: center;
    border: none;
    background-color:#aca3be24 ;
}
  .footer {
      margin-top: 10px;
  }
  /* .......BLUE CONTAINER END..... */
}









/* ...............STYLE FOR TABLET SCREEN........... */
@media (min-width: 600px) and (max-width: 1024px) {

  .navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-right: 15px;
  }
  .title {
    /* border: 1px solid red; */
    font-size: 18px;
    font-weight: 600;
    /* width: 150px; */
  }
  .name {
    font-size: 18px;
    /* width: 150px; */

    /* border: 1px solid red; */
  }
  .billInfo {
    display: flex;
    justify-content: center;
    margin-bottom: -18px;
  }
  .first {
    width: 30%;
    display: flex;
    /* border: 2px solid red; */
  }
  .moneyDetail {
    width:  30%;
    /* border: 2px solid red; */
  }
  /* .......BLUE CONTAINER START..... */
  .solodNumber {
      color:#f99f1b;
      font-weight: 600;
      font-size: 19px;
      
  }
  .secondNavContainer {
      margin-top: 15px;
  }
  .aLinkHead {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      width: 120px;
  }
 /*  .bodyPage {
       height: 50vh;
      margin-top: 15px; 
      padding-right: 10px; 
  }*/
  /* .headerbill {
    margin-top: -27px;
  } */
  .footer {
      /* height: 50px; */
      margin-top: 10px;
     
  }
  /* .......BLUE CONTAINER END..... */
}

/* ...............STYLE FOR laptop DEVICES.......... */

@media (min-width: 1024px) and (max-width: 5023px) {

  .navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-right: 15px;
  }
  .title {
    /* border: 1px solid red; */
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    margin-right: 40px;
  }
  .name {
    font-size: 18px;
    /* width: 150px; */

    /* border: 1px solid red; */
  }
  .head {
    padding: 20px 0px;
    margin-top: 4px;
    height: 25vh;
    width: 60%;
  }
  /* .......BLUE CONTAINER START..... */
  .soldContainer {
    margin-top: -5px;
  }
  .solodNumber {
      color:#f99f1b;
      font-weight: 600;
      font-size: 30px;
      
  }
  /* .soldeTitle {
      margin-top: -5px;
      
  } */
  .secondNavContainer {
    margin-top: 15px;
  }
  .aLinkHead {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      width: 120px;
  }
  .bodyPage {
    height: 50vh;
    margin-top: 15px; 
    /* padding-right: 10px; */
    width: 70%;
}
  .lastBill {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  /* .headerbill {
    margin-top: -70px;
  } */
  .bodyBill {
    display: flex;
    /* border: 1px solid red; */
    overflow: auto;
  }
  .billInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
  }
 .first {
  width: 200px;
  /* border: 1px solid red; */
 }
 .moneyDetail {
  width: 200px;
  /* border: 1px solid red; */
 }

  .footer {
      /* height: 50px; */
      margin-top: 10px;
     
  }
  /* .......BLUE CONTAINER END..... */
}